In [1]:
import pandas as pd

In [48]:
data = pd.DataFrame([[1, 2, 3, 4], [2, 4, 6, 8]], columns=["A", "B", "C", "D"])

In [49]:
data

   A  B  C  D
0  1  2  3  4
1  2  4  6  8

In [43]:
data[0][0] = data[0][0] + 2
data

   0  1  2  3
0  3  2  3  4
1  2  4  6  8

   0  1   2   3
0  6  4   6   8
1  4  8  12  16